.navbar{
  position: relative;
  z-index: 200;
  &-navigation{
    display: flex;
    &-left{
      position: fixed;
      left: -50vw;
      width: 50vw;
      height: 100vh;
      background-color: $color-dark;
      transition: left .8s cubic-bezier(1,0,0,1);
      .left-img{
        width: 50%;
        position: absolute;
        box-shadow: 0 4px 20px 3px rgba($color-black, 0.4);
        opacity: .7;
        border-radius: 10px;
      }
      .left-img-1{
        top: 15%;
        left: 15%;
      }
      .left-img-2{
        top: 35%;
        left: 25%;
      }
      .left-img-3{
        top: 55%;
        left: 35%;
      }
    }
    &-right{
      @include flexLayout;
      position: fixed;
      right: -50vw;
      width: 50vw;
      height: 100vh;
      background-color: #1f1d1d;
      transition: right .8s cubic-bezier(1,0,0,1);
    }
    .nav-list{
      &-item{
        list-style: none;
      }
      &-link{
        font-family: $font-nunito;
        font-size: 30px;
        @include textStyle;
        color: $color-secondary;
        display: block;
        margin: 30px;
        text-align: center;
        transition: all .5s;
        &:hover{
          color: $color-primary;
          letter-spacing: 4px;
        }
      }
    }
  }
}

.checkbox:checked ~ .navbar-navigation .navbar-navigation-left{
  left: 0;
}
.checkbox:checked ~ .navbar-navigation .navbar-navigation-right{
  right: 0;
}
.checkbox:checked ~ .hamburger-menu .menu{
transform: rotateZ(90deg);
}
.checkbox:checked ~ .hamburger-menu .menu-line-1{
transform: rotateZ(+40deg);
}
.checkbox:checked ~ .hamburger-menu .menu-line-2{
  opacity: 0;
}
.checkbox:checked ~ .hamburger-menu .menu-line-3{
transform: rotateZ(-40deg);
}

.header {
  position: relative;
  min-width: 100%;
  min-height: 100vh;
  background: linear-gradient(rgba($color-black, 0.8), rgba($color-black, 0.6)),
    url(../images/bg.jpeg) no-repeat center;
  background-size: cover;
  clip-path: ellipse(160% 50% at 50% 48%);

  .brand {
    @include centering(15%);
    display: flex;
    align-items: center;
  }
  &-banner {
    @include centering(60%);
    text-align: center;
  }
}
.about-us {
  min-height: 90vh;
  display: flex;
  align-items: center;
  &-right {
    position: relative;
    width: 60%;
    height: 90vh;
    margin-right: 30px;
    clip-path: ellipse(70% 42% at 50% 50%);
    background:  linear-gradient(rgba($color-black, 0.8), rgba($color-black, 0.4)),url("../images/rustic-chandelier-made-bulbs-ropes-dining-table-vintage-kitchen (1).jpg") center no-repeat ;
    background-size: cover;
    transition: all 1s;
    &:hover{
      background:  linear-gradient(rgba($color-black, 0.7), rgba($color-black, 0.3)),url("../images/rustic-chandelier-made-bulbs-ropes-dining-table-vintage-kitchen (1).jpg") center no-repeat ;
      background-size: cover;
    }
    .about-form{
      @include centering(52%);
      width: 60%;
      position: absolute;
      display: flex;
      flex-direction: column;
      z-index: 10;
      &-email{
        font-family: $font-josefinSans;
        background-color: transparentize($color: $color-primary, $amount: 0.8);
        padding: 15px;
        font-size: 20px;
        outline: 0;
        border: 1px solid $color-primary;
        border-radius: 6px;
        margin-bottom: 10px;
        transition: all .5s;
        &::placeholder{
          color: lighten($color: $color-primary, $amount: 25%);
          font-family: $font-josefinSans;
        }
        &:focus{
          box-shadow: 1px 0 15px 3px rgba($color-primary, 0.3);
          color: lighten($color: $color-primary, $amount: 25%);
        }
      }
      &-btn{
        font-family: $font-josefinSans;
        color: lighten($color: $color-primary, $amount: 25%);
        background-color: transparentize($color: $color-primary, $amount: 0.8);
        padding: 8px 0;
        font-size: 20px;
        outline: 0;
        border: 1px solid $color-primary;
        border-radius: 6px;
        margin-bottom: 10px;
        transition: all .5s;
        cursor: pointer;
        &:hover{
          box-shadow: 1px 0 15px 3px rgba($color-primary, 0.3);
          color: lighten($color: $color-primary, $amount: 30%);
        }
      }
    }
  }
  &-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 30px;
    .main-heading {
      font-family: $font-josefinSans;
      letter-spacing: 2px;
      font-weight: 600;
      font-size: 60px;
      margin-bottom: 20px;
    }
    .sub-heading {
      font-size: 40px;
      margin-bottom: 20px;
    }
    .stars {
      margin: 30px 0;
    }
    .star {
      font-size: 15px;
      color: $color-primary;
      margin-left: 10px;
    }
    .description {
      font-family: $font-nunito;
      font-size: 25px;
      font-weight: 300;
      color: $color-secondary;
      text-align: justify;
      &::first-letter {
        padding-left: 30px;
      }
    }
  }
}
.gallery{
    .card-wrapper{
        display: flex;
        flex-wrap: wrap;
        // clip-path: ellipse(180% 100% at 48% 100%);
        clip-path: ellipse(170% 50% at 50% 50%);
    }
}
.footer{
  padding: 70px 0 20px 0;
  @include flexLayout;
  flex-direction: column;
  &-header{
    display: flex;
    align-items: center;
    margin-bottom: 70px;
  }
  .social-media{
    display: flex;
    width: 300px;
    justify-content: space-between;
    margin-bottom: 70px;
    &-item{
      list-style: none;
    }
    &-link{
      text-decoration: none;
      font-size: 50px;
      color: $color-secondary;
      transition: all .5s;
      &:hover{
        color: $color-primary;
      }
    }
  }
  &-copyright-paragraph{
    font-family: $font-josefinSans;
    font-size: 20px;
    color: $color-secondary;
    &-link{
      color: $color-secondary;
      font-style: italic;
      &:hover{
        color: $color-primary;
      }
    }
  }
}